<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804780745431-sbt9pk311aats776crgprcauhas6hpjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804780745431-sbt9pk311aats776crgprcauhas6hpjl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804780745431-5j7jvlcgpericcv3ekgg61s9akmghmf4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7iMYb1FThG4cYn-qQHg71RJZn9o8fBPg</string>
	<key>GCM_SENDER_ID</key>
	<string>804780745431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betterway.yupin</string>
	<key>PROJECT_ID</key>
	<string>mistineapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mistineapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804780745431:ios:8170dac1427645e6bbc692</string>
	<key>DATABASE_URL</key>
	<string>https://mistineapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>