<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436932745041-a0mmm42547vdgrj091q02etl2ltguld1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436932745041-a0mmm42547vdgrj091q02etl2ltguld1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436932745041-d3ocrkffr8m3rcmvjilkcq9nqem71mef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbnGeT6cZVKfjLmm1oDrLshqhc6zKUJeM</string>
	<key>GCM_SENDER_ID</key>
	<string>436932745041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.friday.fridayonline</string>
	<key>PROJECT_ID</key>
	<string>friday-online-40aa7</string>
	<key>STORAGE_BUCKET</key>
	<string>friday-online-40aa7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436932745041:ios:dcc07ffa0d4891ce6d2570</string>
</dict>
</plist>