<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Friday Online</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fridayonline</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>th.co.friday.fridayonline</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fridayonline</string>
				<string>fb1832438484338305</string>
                <string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>com.googleusercontent.apps.436932745041-a0mmm42547vdgrj091q02etl2ltguld1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>1832438484338305</string>
	<key>FacebookClientToken</key>
	<string>015ad3089781aef5f7e7e461bf0aa507</string>
	<key>FacebookDisplayName</key>
	<string>Friday Online</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://dl.fridayth.com/link</string>
		<string>https://dl.fridayth.com/share</string>
	</array>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>436932745041-a0mmm42547vdgrj091q02etl2ltguld1.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lineauth2</string>
		<string>https</string>
		<string>http</string>
		<string>tel</string>
		<string>mailto</string>
		<string>pulsesecure</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>2007999835</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>ยินยอมให้แอป Friday Online เข้าถึงกล้องของคุณ</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ยินยอมให้แอป Friday Online เข้าถึงไมค์ของคุณ</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>ยินยอมให้แอป Friday Online เข้าถึงรูปภาพของคุณ</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ยินยอมให้แอป Friday Online เข้าถึงคลังรูปภาพของคุณ</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>2fnua5tdw4.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_kBBl60tp85tQfMPIAu4LvnlhFEcNgpQT</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>fridayonline.app.link</string>
		<string>fridayonline-alternate.app.link</string>
	</array>
</dict>
</plist>
