<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7iMYb1FThG4cYn-qQHg71RJZn9o8fBPg</string>
	<key>GCM_SENDER_ID</key>
	<string>804780745431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fridayonline</string>
	<key>PROJECT_ID</key>
	<string>mistineapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mistineapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804780745431:ios:0b2c07ce8a277635bbc692</string>
</dict>
</plist>